*{

    --primary-color: #FFFFFF;
    --secondary-color: #FDFDFD;
    --text-color: black;
    --highlight-color:#399FCF;
    --ff: 'Archivo', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* --h6: 1.2rem/1.6 var(--ff);
    /* text */
    --h4: clamp(1.4rem, 1.6vw, 1.75rem)/1.6 var(--ff);
    --h1-bold: bold clamp(2rem, 4vw, 3rem)/1.6 var(--ff);
    --h1: clamp(2rem, 4vw, 3rem)/1.6 var(--ff);
    --h6: clamp(1rem, 1.2vw, 1.3rem)/1.6 var(--ff);


}

body{
    box-sizing: border-box;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100dvh; /* Full viewport height */
  }
  main{

    flex: 1;


  }

  
  header, footer{
    max-height: 6.25rem;
    width:100%;
    background-color: var(--highlight-color);
    display: flex;
    padding: 1.25rem 3.06rem;
    flex-direction: row;

  }
  .header-wrapper{

    margin: 0 auto;
    width: 101rem;
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 1.875rem;

  }
  

  footer{

    justify-content: space-between;
    align-items: center;
    font: var(--h6);

  }

  header{

    align-items: center;
    justify-content: center;
   

  }
  
  .searchContainer{
    
    border-radius: 60px;
    flex: 1;

  }
  .tempContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 3.75rem;
    width: 100%;
    gap: 1.875rem;
    
}

  .tempContainer button{

    all:unset;
    cursor: pointer;
    background-color: var(--secondary-color);
    height:100%;
    width: 100%;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animates hover */
    font: var(--h6)
}

.tempContainer button:hover{

    transform: scale(1.05); /* Slightly enlarges on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* More pronounced shadow */

}
.searchContainer form{

    display: grid;
    gap: 1.875rem;
    grid-template-columns: 3fr 1fr;
    flex-direction: row;
    width: 100%;
    height: 3.75rem;
    font: var(--h6)


}

.searchContainer #searchInput{
    /* width: 42.625rem; */
    border-radius: 60px;
    height: 100%;
    border: none;
    width: 100%;
    

}
.searchContainer .searchButton{

    
    all:unset;
    cursor: pointer;
    /* width: 13.25rem; */
    border-radius: 60px;
    background-color: var(--secondary-color);
    height:100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animates hover */


}
/* 2880 × 1864 */
.searchContainer .searchButton:hover{
    transform: scale(1.05); /* Slightly enlarges on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* More pronounced shadow */

    
}


  

  