
@import url(https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap);

*{

    --primary-color: #FFFFFF;
    --secondary-color: #FDFDFD;
    --text-color: #575757;
    --highlight-color:#399FCF;
    --gradient: linear-gradient(110deg, #2c3e50, #4c669f, #ec6f66, #f3a183, #f7b7a3);
    --gradient2: linear-gradient(180deg, #87CEEB 0%, #00BFFF 50%, #FFD700 100%);
    --gradient3: linear-gradient(180deg, #A9A9A9 0%, #778899 50%, #2F4F4F 100%);
    --shadow: 5px 5px 20px rgba(0, 0, 0, 0.15);
    /* text */
    --ff: 'Archivo', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* --h6: 1.2rem/1.6 var(--ff);
    --h1: bold 3rem/1.6 var(--ff); */
    --h4: clamp(1.4rem, 1.6vw, 1.75rem)/1.6 var(--ff);
    --h1-bold: bold clamp(2rem, 4vw, 3rem)/1.6 var(--ff);
    --h1: clamp(2rem, 4vw, 3rem)/1.6 var(--ff);
    --h6: clamp(1rem, 1.2vw, 1.3rem)/1.6 var(--ff);
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
svg *{

  fill:linear-gradient(130deg, white 30%, transparent 100%);
}


.main-wrapper{
  margin: 0 auto;
  width: 101rem;
  border: solid red;


}

.content{
    width: 100%;
    height: 100%;
    background-color: var(--secondary-color);
    display: grid;
    grid-template-columns: 2fr 3fr;
    
    /* padding: 3.1rem; */
    gap: 2.44rem;
}
.tempDash{
    position: relative;
    z-index: 1;
    color: var(--text-color);
    width: 100%;
    height: clamp(45rem, 51vw, 51.75rem);
    border-radius: 60px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    background: var(--gradient);
    background-size: 300% 300%;
    animation: gradient 10s infinite ease;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin-top: 1.5625rem;
    margin-bottom: 1.5625rem;
    

}
.tempDash::before, .iconTab::before {
  background-image: url('https://www.transparenttextures.com/patterns/otis-redding.png');
  position: absolute;
  inset: 0;
  border-radius: 8rem;
  z-index: 0;
  content: '';
}

.tempDash::after, .iconTab::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1; /* Ensure the blurred background stays behind the grid item */
  
  /* Add a gradient, image, or color for the background */
  background: var(--gradient); 
  background-size: 300% 300%;
  
  /* Blur effect */
  filter: blur(20px);
  opacity: 0.8;
  
  animation: gradient 10s ease infinite;
}
@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .tempDash .range{

    display: flex;
    gap: 2rem;
    

  }
  .tempDash .temp{

    font: clamp(5rem, 7vw, 8rem)/1.6 var(--ff);;
    background: linear-gradient(130deg, white 30%, transparent 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: auto;
      

  }


  .tempDash .date, .tempDash .range, .tempDash .location{

    font: var(--h1);
    background: linear-gradient(130deg, white 30%, transparent 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;

  }

 



.weatherStats{

    display: grid;
    grid-template-columns: repeat(3, minmax(clamp(12rem, 18vw, 18.75rem), 1fr));
    gap: 1.5625rem;
    margin-top: 1.5625rem;
    margin-bottom: 1.5625rem;

}
.weatherStats .weather-tab{

    width: 100%;
    height: clamp(12rem, 15vw, 15.625rem); 
    border-radius: 60px;
    background-color: var(--primary-color);
    box-shadow: var(--shadow); /* Subtle shadow */
    padding-left: 2.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: var(--text-color)
    



}


.weatherStats .weather-tab h1{

    font: var(--h1-bold);
}

.weatherStats .weather-tab h6{

    font: var(--h4);
}

/* .firstSection{

    display: flex;
    flex-direction: column;
    gap: 2.06rem;

}

.secondSection{

    display: flex;
    flex-direction: column;
    gap: 2.06rem;


} */

.iconTab{
    position: relative;
    z-index: 1;
    grid-column: span 2;
    width: 100%;
    height: clamp(12rem, 15vw, 15.625rem);  
    border-radius: 60px;
    background: var(--gradient);
    border-radius: 60px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    background-size: 300% 300%;
    animation: gradient 15s infinite ease;
    display: flex;
    flex-direction: row;
    padding: 2rem;
    align-items: center;
    justify-content: space-evenly;
    gap: 5rem;
}
.iconTab .textContainer{

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  
}



.iconTab .iconDescription, .iconTab .feelsLike,.iconTab .icon{

  background: linear-gradient(
    170deg,
    rgba(255, 255, 255, 0.85),
    transparent 150%
  );
    background-clip: text;
    -webkit-text-fill-color: transparent;

}

.iconTab .iconDescription{

  font: bold var(--h4);

}

.iconTab .feelsLike{
  font: var(--h4);

}



.iconTab svg{

  width: 6rem;
  height: 6rem;
}
/* .alignment{
    display: flex;
    gap: 1.5625rem;
}

.firstCol, .secondCol{

    display: flex;
    flex-direction: column;
    gap: 2.06rem;
    


} */

/* 2xl */
@media (max-width: 1536px) {
  
    /* --h6: clamp(0.8rem, 1.6vw, 0.96rem)/1.6 var(--ff); 80% of original values */
    /* --h1: bold clamp(1.6rem, 3.2vw, 2.4rem)/1.6 var(--ff); 80% of original values */
  
.main-wrapper{
  max-width: 80rem;



}
.content{

  grid-template-columns: 2fr 3fr;
}
.weatherStats{

  grid-template-columns: repeat(3, minmax(clamp(13rem, 15vw, 16rem), 1fr));
}
}

/* xl */
@media (max-width: 1280px) {
  
.main-wrapper{
  max-width: 64rem;
  margin-left: auto;
  margin-right: auto;
  
 

}
.content{
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 3fr;
  height: auto;

}

.weatherStats{

  grid-template-rows: repeat(3, 1fr);

}
.weatherStats .weather-tab{

  height: 100%;
}
.weatherStats .iconTab{

  height: 100%;
}

}

/* lg */
@media (max-width: 1024px) {

  .main-wrapper{
    max-width: 48rem;
    margin-left: auto;
    margin-right: auto;
    
   
  
  }
  .content{
    width:100%
    

  
  }
}

/* md */
@media (max-width: 768px) {
  .main-wrapper{
    max-width: 40rem;
    grid-template-columns: 1fr;
    
    
  }
  .content{
    width: 100%;
    grid-template-rows: 5fr 9fr;
    height: auto;
    gap: 0.5rem;


  }
  .weatherStats{
     grid-template-columns: 1fr 1fr;
     grid-template-rows: auto;

  }

  .tempDash{

    width: 100%;
  }

  .weatherStats .iconTab{

    order: 1;

  }
  
  .weatherStats .weather-tab{
    width:100%;
    height: auto;
    order: 2;
  }
   .GitHub{

    grid-column: span 2;

  }


}

/* sm */
@media (max-width: 640px) {
  .main-wrapper{
    max-width: 30rem;
    min-height: 81rem;

  
  }

}

/* xs */
 @media (max-width: 475px) {
  .main-wrapper{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  
  }
  .content{

    width:100%
  }

} 


